$nspeed: 300ms;

// Fonts
$font-main: "Roboto", sans-serif;
// Contenedor
$width-container-w-pad: unquote("min(100% - 36px, 960px - 64px)");
$width-container: unquote("min(100% - 36px, 960px)");
