#grid-payment_stripe {
  display: grid;
  grid-template-areas: 'fullName fullName phone' 'address address dni' 'email email email' 'card card card' 'notify notify notify';
  gap: 1rem;
  align-items: center;
  width: 100%;

  .field:nth-child(1) {
    grid-area: fullName;
  }

  .field:nth-child(2) {
    grid-area: phone;
  }

  .field:nth-child(3) {
    grid-area: address;
  }

  .field:nth-child(4) {
    grid-area: dni;
  }

  .field:nth-child(5) {
    grid-area: email;
  }

  .checkout_stripe {
    grid-area: card;

    #card_element {
      margin: 10px 0;
      width: 100%;
      background-color: hsl(0deg, 0%, 100%);
      border-radius: 4px;
      color: hsl(0deg, 0%, 21%);
      border: 1px solid hsl(0deg, 0%, 86%);
      padding: 10px;
    }
    iframe[name='__privateStripeFrame4086'] {
      width: 100% !important;
    }
    #serverNotify {
      grid-area: notify;
    }

    button {
      width: 100%;
    }
    .ElementsApp {
      font-size: 1rem;
    }

    .cardInputsMobile {
      display: grid;
      grid-template-columns: 52px 1fr 1fr;
      row-gap: 1rem;
      column-gap: 0.25rem;
      > .field {
        grid-area: unset;
      }
      .field:first-child {
        grid-column: span 3;
      }
    }
  }

  pre {
    grid-area: console;
    max-width: 300px;
  }
}
@media screen and (max-width: 766px) {
  #grid-payment_stripe {
    grid-template-areas: unset;
  }
  .checkout_stripe {
    label[for='card_element'],
    #card_element {
      display: none;
    }
  }
}
#grid-payment_mp {
  display: grid;
  grid-template-areas: 'fullName fullName phone' 'address address dni' 'email email email';
  gap: 1rem;

  .field:nth-child(1) {
    grid-area: fullName;
  }

  .field:nth-child(2) {
    grid-area: phone;
  }

  .field:nth-child(3) {
    grid-area: address;
  }

  .field:nth-child(4) {
    grid-area: dni;
  }

  .field:nth-child(5) {
    grid-area: email;
  }
}
