#payment_rebill {
  display: grid;
  grid-template-areas: 'fullName fullName phone' 'address addres zip ' 'dni email email' 'card card card';
  gap: 1rem;
  align-items: center;
  width: 100%;


  .field:nth-child(1) {
    grid-area: fullName;
  }

  .field:nth-child(2) {
    grid-area: phone;
  }

  .field:nth-child(3) {
    grid-area: address;
  }

  .field:nth-child(4) {
    grid-area: zip;
  }

  .field:nth-child(5) {
    grid-area: dni;
  }

  .field:nth-child(6) {
    grid-area: email;
  }

  .field:nth-child(7) {
    grid-area: card;
  }

  div#rebill_elements {


    & iframe {
      width: 100%;
      height: 100px !important;
      border: none;

    }
  }

  @media only screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'fullName'
      'phone'
      'address'
      'zip'
      'email'
      'dni' 'card';
    overflow-y: auto;
  }

  @media (min-width: 481px) and (max-width: 766px) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'fullName fullName'
      'phone phone'
      'address zip'
      'email email'
      'dni dni' 'card card';
    overflow-y: auto;
  }
}


@media screen and (max-width: 766px) {

  #grid-payment_rebill,
  #grid-payment_stripe {
    grid-template-areas: unset;
  }

  .checkout_stripe {

    /* label[for='card_element'],
    #card_element {
      display: none;
    } */
  }
}

#grid-payment_mp {
  display: grid;
  grid-template-areas: 'fullName fullName phone' 'address address dni' 'email email email';
  gap: 1rem;

  .field:nth-child(1) {
    grid-area: fullName;
  }

  .field:nth-child(2) {
    grid-area: phone;
  }

  .field:nth-child(3) {
    grid-area: address;
  }

  .field:nth-child(4) {
    grid-area: dni;
  }

  .field:nth-child(5) {
    grid-area: email;
  }
}


#grid-payment_rebill {
  display: grid;
  grid-template-areas:
    'fullName fullName phone'
    'address address zip'
    'email email dni';
  gap: 1rem;

  .field:nth-child(1) {
    grid-area: fullName;
  }

  .field:nth-child(2) {
    grid-area: phone;
  }

  .field:nth-child(3) {
    grid-area: address;
  }

  .field:nth-child(4) {
    grid-area: zip;
  }

  .field:nth-child(5) {
    grid-area: dni;
  }

  .field:nth-child(6) {
    grid-area: email;
  }




  @media only screen and (max-width: 768px) {
    #grid-payment_rebill {
      grid-template-areas:
        'fullName fullName'
        'phone phone'
        'address zip'
        'email dni';
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 480px) {
    #payment_rebill {
      grid-template-areas:
        'fullName'
        'phone'
        'address'
        'zip'
        'email'
        'dni' !important;
    }
  }
}