@use './bulma';
@use 'abstracts' as *;
@use './components/buttons';
@use 'cardAsesor';
@use 'pasarela-country.scss';
@use 'pasarela-client-form.scss';
@use 'pasarela-med-mod-payment.scss';
@use 'pasarela-payment_method.scss';
@use 'ventaPresencial-create_lead.scss';
@use 'ventaPresencial-conversion_contact.scss';
@use './components/tags';
@use './react-paginate.scss';

// Fix bug grilla con input radio
.radio+.radio,
.button+.button {
  margin: 0;
}

:root {
  --animate-delay: 0.5s;
}

$success: #32bea6;
$accent: #00b6de;
$danger: rgb(236, 39, 39);
$texto-light: #808fa6;

// DISPLAY MOBILE/DESKTOP
.d-mobile {
  display: none;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 766px) {
  .d-desktop {
    display: none;
  }

  .d-mobile {
    display: unset;
  }
}

.rotate-90 {
  rotate: -90deg;
}

button.button>.ui.radio {
  input[type='radio'] {
    visibility: hidden;
  }
}

body,
input {
  font-family: 'Roboto', sans-serif !important;
}

body * {
  transition: all 0.3s ease-in;
}

header.container {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  .navbar {
    background-color: transparent;

    &-item {
      img {
        max-height: unset;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  header {
    z-index: 10;
  }

  .navbar {
    background: linear-gradient(180deg, #fff, 93%, transparent);
    max-width: 70.66%;
    padding: 1.5rem 1.5rem 2.5rem;
    margin: -1.5rem -1.5rem -2.5rem;
  }
}

.column {
  padding: 0;
  margin: 0;
}

.columns {
  margin: 0;
}

.invisible {
  display: none !important;
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: scale-in-center 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-play-state: paused;
}

.is-divider {
  display: block;
  position: relative;
  border-top: 0.1rem solid #dbdbdb;
  height: 0.1rem;
  margin: 1.5rem 0;
  text-align: center;
}

h2.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pasarela {
  padding-top: 8rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 2;
  min-height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 376px;
    height: max-content;

    &>[class*='grid'] {
      flex-grow: 1;
      align-content: flex-start;
    }

    .title {
      svg {
        display: none;
      }
    }
  }

  &-overlay,
  .searchcourses-overlay {
    display: none;
  }

  &-cont {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
  }
}

.gridCuartos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: 1fr 3rem 1fr;
  column-gap: 0.75rem;

  &-item {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 6px;

    &.tall {
      height: 5rem;
      display: flex;
      justify-content: center;
    }

    span {
      position: relative;
      z-index: 2;
      gap: 0.5rem;
    }

    input {
      position: absolute;
      text-align: center;
      opacity: 0.001;
      z-index: 3;
      /*  left: 0px;
      top: 0px; */
      width: 100%;
      height: 100%;
      cursor: pointer;

      &[type='radio'] {
        visibility: hidden;
      }
    }

    h4 {
      text-align: center;
    }

    &.button.is-link.is-outlined:focus {
      background-color: #eff1fa !important;
    }
  }

  .is-divider.doble {
    grid-column: span 3;
    grid-row: 2 / 3;
  }

  .half {
    justify-content: center;
  }
}

.stepControls,
.edit_stepControls {
  margin: 2rem 0 0 !important;
  gap: 0.75rem;
}

.checkFields {
  h3 {
    font-weight: 500;
  }

  &>div {
    justify-content: center;
    gap: 1rem;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 14px;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: [start] repeat(auto-fill, minmax(20rem, 1fr)) [end];
  column-gap: 0.75rem;

  .ancho-completo {
    grid-column: start/end;
  }
}

.compartirLinkPor {
  &-item {
    margin: 0 !important;
    text-align: center;
    border-radius: 0;
    border-bottom: 3px solid #dbdbdb;

    &.is-active {
      color: $accent;
      border-color: $accent;
    }

    input {
      position: absolute;
      opacity: 0.001;
      z-index: 3;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

//RESUMEN

.background-side {
  position: absolute;
  min-height: 100vh;
  z-index: 1;
  inset: 0;
  background-color: #f4f5f7;
}

.overlay-left {
  position: absolute;
  min-height: 100vh;
  z-index: 3;
  inset: 0;
  left: -66.6666%;
  width: 133.33% !important;
  background: hsla(218, 50%, 49%, 0.8);
  backdrop-filter: blur(8px);
}

.side {
  padding-bottom: 3rem;

  &-decision,
  &-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &-body {
    .button.bigger {
      font-weight: 700;
      height: 5rem;
    }

    .field {
      & .half:not(:last-child) {
        margin: 0;
      }

      input {
        border-radius: 0;
        border-width: 0 0 3px 0;
        font-weight: 700;
        background-color: unset;
      }

      .icon {
        pointer-events: all;
        cursor: pointer;
      }

      .icon:hover {
        i {
          color: $success;
        }
      }
    }
  }

  &-item {
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;

    &.current,
    &.completed {
      padding: 1rem 1.5rem;
      border-radius: 10px;

      .title {
        display: initial;
      }

      .subtitle {
        margin-bottom: 1.5rem;
      }

      .button {
        display: block;
      }
    }

    &.current {
      .numstep {
        background-color: $accent;
      }

      .button {
        display: none;
      }
    }

    &.completed {
      box-shadow: none;
      border: 1px solid $success;

      .numstep {
        background-color: $success;
      }

      .button {
        display: block;
        color: $texto-light;
      }

      .button:hover {
        cursor: pointer;
        color: $success;
      }

      .button:target {
        outline: none;
      }
    }

    &.selection~.side-item-courses {
      display: block;
    }

    &-courses {
      margin-top: -2rem;
      display: none;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0.25em 0.5em -0.125em rgb(10 10 10 / 5%),
        0 0 0 1px rgb(10 10 10 / 2%);
      //border: 1px solid #efefef;
      border-radius: 0 0 10px 10px;

      &-list {
        display: flex;
        flex-direction: column;
        max-height: 196px;
        overflow-y: auto;
      }

      &-selected {
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        &:not(:first-child) {
          border-top: 1px solid #d9d9d9;
        }

        &:first-child {
          padding-top: 1.75rem;
        }

        h4 {
          @include font(1rem, 500, 1.1719rem, color(medicina, '-dark'));
        }

        .button {
          color: $texto-light;
          padding: 0;
        }

        .button:hover {
          cursor: pointer;
          color: $danger;
        }

        .button:target {
          outline: none;
        }
      }

      &-total {
        padding: 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #d9d9d9;

        span {
          @include font(0.875rem, 500, 1.1719rem, #808fa6);
        }

        h3 {
          @include font(2rem, 700, 1, color(texto, '-light'));
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .numstep {
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        line-height: 1.6;
        font-weight: 700;
        color: #fff;
        text-align: center;
        border-radius: 2rem;
        background-color: $texto-light;
      }

      .title {
        display: none;
        color: #292d32;
      }

      .subtitle {
        margin-bottom: 0;
        font-size: 0.875rem;
        font-weight: 500;
        color: $texto-light;
      }
    }

    .button {
      display: none;
      padding: 0.25rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      max-width: calc(100% - 4rem);
    }
  }
}

#finalResume {
  padding: 2rem;
  min-height: 300px;
  z-index: 5;
  background: #fff;
  border-radius: 10px 10px 0 0;
  filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.25));

  .datos-cliente {
    &-header {
      display: flex;
      justify-content: space-between;
    }
  }

  .datos-tarjeta {
    .finalResume-item {
      margin-bottom: 0.75rem;
    }
  }

  .datos-cliente,
  .datos-tarjeta {
    row-gap: 1.25rem;
  }

  .finalResume-confirmation {
    gap: 1rem;

    .control,
    .field,
    .field label {
      width: 100%;
    }

    label {
      display: flex;
      align-items: center;
    }

    input {
      position: absolute;
      text-align: center;
      opacity: 0.001;
      z-index: 9999;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
    }
  }

  .finalResume-item {
    h4 {
      font-weight: 600;
      font-size: 20px;
    }

    label {
      color: #808fa6;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;

      &.active {
        background-color: #eff1fa !important;
        border-color: #485fc7;
        color: #485fc7;
      }
    }
  }

  h2 {
    margin-bottom: -0.25rem;
  }

  #todayDate_resume h4 {
    font-size: 1rem;
  }

  #numeroContrato_resume h4,
  #montoTotalContrato_resume h4 {
    font-weight: 600;
    font-size: 1.75rem;
  }

  #emailCliente_resume h4 {
    font-size: 14px;
    margin-left: 0.5rem;
  }

  #numeroContrato_resume {
    grid-column: span 2;
  }

  #emailCliente_resume {
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
  }

  .is-divider {
    margin: 1rem 0;
  }
}

.is-divider-dashed {
  border-bottom: 2px dashed #f5f5f5;
  margin: 0.5rem 0 0.75rem;
}

.controls {
  margin-top: 2.5rem;
  display: grid;
  grid-template-areas: 'back save next';
  grid-auto-columns: 1fr;
  gap: 1rem;

  .prev-button {
    grid-area: back;
  }

  .save-button {
    grid-area: save;

    img {
      display: none;
    }
  }

  .next-button {
    grid-area: next;
  }

  /* & button[type='submit'] {
    grid-column: 2/3;
  } */
}

// Lista de cursos

.courses-grid {
  display: grid;
  grid-template-columns: min(100%, 800px);
  flex-flow: column nowrap;
  gap: 0.5rem;

  .course {
    margin-bottom: 0;
  }
}

.course {
  margin-bottom: 0;
  padding: 0.75rem 1rem 0.75rem 1.25rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 1.125rem;

  &-selection {
    display: flex;
    align-items: center;

    input {
      width: 22px;
      height: 22px;
      cursor: pointer;
      border-color: #eeeeee;
    }
  }

  &-content {
    width: min(100%, 260px);
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: 0.5rem;

    &-header {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &-specialty,
  &-hours {
    text-transform: uppercase;
    @include font(0.75rem, 500, 1, color(texto, '-light'));

    svg {
      margin-right: 2px;
      height: 1.1em;
      width: 1.1em;
    }
  }

  &-name {
    h3 {
      @include font(1.125rem, 700, 1.2, color(medicina, '-dark'));
    }
  }

  &-price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    h3 {
      @include font(1.75rem, 700, 1, color(medicina, '-dark'));
    }
  }
}

.is-disabled {
  & {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;

    &:active,
    &:hover {
      border-color: hsl(0deg, 0%, 86%);
      cursor: not-allowed;
    }
  }
}

pre {
  display: none;
}

@media screen and (min-width: 767px) {
  .pasarela {
    overflow: unset;
  }
}

@media screen and (max-width: 766px) {
  header.container {
    padding-bottom: 0px !important;
    padding-top: 28px !important;
    z-index: 5;

    .navbar-brand {
      display: grid;
      grid-template-columns: 72px 100%;
      justify-content: start;
      gap: 24px;

      .navbar-item {
        padding: 0;
        width: 150px;
      }
    }

    .navbar-burger {
      width: 100%;

      span {
        width: 24px;
        left: calc(50% - 12px);
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  .pasarela {
    padding-top: calc(80px + 20px);
    padding-bottom: 0 !important;
    height: 100vh;
    display: grid;
    grid-template-columns: 72px auto;
    overflow-y: scroll;

    .notification {
      margin: 1rem;
      padding: 1rem;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    .label {
      margin-bottom: 2px;
      color: #292d32;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.75rem;
    }

    form {
      order: 2;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: max-content auto max-content;
      padding: 0 0 24px;

      & .title {
        svg {
          display: block;
        }
      }

      &>[class*='grid'] {
        overflow-y: scroll;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 12px;
      }

      /* & > *:nth-child(2) {
        overflow-y: scroll;
        grid-template-columns: 1fr;
        width: 100%;
        margin-bottom: 12px;
      } */
      .grid-med_mod_payment-mp {
        overflow: initial;
      }

      .grid-country-item {
        justify-content: start;
      }

      .field {
        margin: 0;
        width: 100%;
      }

      .grid-payment_method {
        &-item {
          &.tall {
            height: 60px;
          }

          img {
            height: 85%;
          }
        }
      }

      .grid-med_mod_payment-mp {
        grid-template-columns: 1fr;
        grid-template-areas:
          'mod'
          'mod1'
          'search'
          'quotes'
          'notification'
          'controls';
        gap: 12px;

        .field:nth-child(3) {
          margin-bottom: 0px;
        }
      }

      #mod_suscrip_field {
        grid-area: mod1;
      }

      #mod_traditional_field {
        grid-area: mod;
      }

      #grid-client_data,
      #grid-payment_mp {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 0.75rem;
      }

      #finalResume {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: unset;
        filter: none;

        .finalResume-confirmation {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          padding-block: 1rem;

          .field label {
            height: max-content;
            padding: 0.75rem;
          }
        }

        .finalResume-item {
          margin: 0;
          overflow-wrap: anywhere;

          h4 {
            font-size: 1rem;
          }
        }

        h2 {
          font-size: 1.125rem !important;
        }

        .datos-cliente,
        .datos-tarjeta {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin: 0;

          &-header {
            flex-direction: column;
            gap: 12px;
          }
        }

        #emailCliente_resume {
          flex-direction: column;

          h4 {
            margin: 0;
          }
        }

        #numeroContrato_resume h4,
        #montoTotalContrato_resume h4 {
          font-size: 18px;
        }
      }
    }
  }

  .side {
    padding-left: 1.5rem !important;
    padding: 0;
    min-width: 4.5rem;

    &-body {
      gap: 0.75rem;
    }

    &>.title {
      display: none;
    }

    &-item {
      padding: 0;
      min-height: 28.25px;

      &.card {
        border: none;
        box-shadow: none;
        background: transparent;
        padding: 0;
      }

      &-info>*:not(.numstep) {
        display: none !important;
      }

      button {
        height: 1.75rem;
        padding: 0 !important;

        svg {
          font-size: 1.5rem !important;
        }
      }

      &.current,
      &.completed {
        .subtitle {
          margin-bottom: 0;
        }

        .title {
          margin-top: 0;
        }
      }

      &.completed .button {
        display: none;
      }

      &.selection~.side-item-courses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        inset: 164px 0 64px 72px;
        background-color: #fff;
        box-shadow: none;
      }

      &-courses {
        &-list {
          padding: 0 1rem 1rem;
          max-height: unset;
        }

        .delete-selection {
          position: absolute;
          right: 00.25rem;
          bottom: 0.25rem;
          transform: scale(0.8);
        }

        &-total {
          margin: 0.5rem 1rem;
          padding: 0.75rem;
          background-color: hsl(0deg, 0%, 100%);
          border-radius: 6px;
          box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
            0 0px 0 1px rgb(10 10 10 / 2%);

          span {
            font-size: 8px;
          }

          h3 {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .pasarela-1 {
    padding: 0;

    &>* {
      padding-inline: 1rem;
    }

    & .title {
      margin-bottom: 12px;
      font-size: 18px;
      justify-content: space-between;

      span {
        display: none;
      }
    }
  }

  .course {
    padding: 0.5rem 0.75rem;
    justify-content: flex-start;
    gap: 6px;
    border: 1px solid transparent;

    &.selected {
      background-color: rgba(0, 182, 222, 0.03);
      border: 1px solid rgba(0, 182, 222, 1);
    }

    &-selection {
      display: none;
    }

    &-content {
      gap: 6px;

      &-header {
        flex-flow: row nowrap;
        gap: 0.25rem;

        &>* {
          font-size: 0.5rem !important;
        }
      }
    }

    &-specialty {
      text-overflow: ellipsis;
      overflow-y: clip;
      white-space: nowrap;
      max-width: 14ch;
    }

    &-name {
      h3 {
        font-size: 0.875rem;
      }
    }

    &-price {
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .searchbar-desktop {
    display: none;
  }

  .searchcourses-overlay {
    padding: 100px 1.5rem 1.5rem;
    position: absolute;
    inset: 0 0 0 4.5rem;
    background-color: rgba(63, 108, 187, 0.8);
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);

    &.is-expanded {
      display: block;
    }
  }

  .controls {
    margin-top: 0;
    grid-template-areas: 'back next';
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;

    .next-button {
      grid-area: next;
    }

    button[type='submit'] {
      grid-area: next;
    }

    .save-button {
      width: max-content;
      padding: 0 3px;
      position: fixed;
      left: 1rem;
      opacity: 1;
      border-radius: 50%;
      aspect-ratio: 1/1;
      background-color: hsl(340deg, 100%, 57%);

      &[disabled] {
        opacity: 0.5;
        background-color: hsl(340deg, 100%, 57%);
      }

      span {
        display: none;
      }

      img {
        display: block;
        transform: scale(1.1);
      }
    }
  }

  .is-expanded {
    .navbar-brand .navbar-item {
      display: none;
    }

    &~* {
      .pasarela {
        grid-template-columns: min(80vw, 272px) auto;

        &-1 {
          position: relative;
          width: max-content;
        }

        &-overlay {
          transition: all 0.3s ease-in-out;
          opacity: 1;
          position: absolute;
          display: block;
          background-color: rgba(63, 108, 187, 0.8);
          content: ' ';
          inset: -125px 0;
          z-index: 99;
          backdrop-filter: blur(2px);
        }
      }

      #background-side {
        width: min(80vw, 272px);
      }
    }
  }

  .is-expanded~.pasarela {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .modal.is-active {
    display: none;
  }
}


.modal-generated-link {
  padding: 1.5rem 2rem;
  height: 300px;

  background-color: white;
  margin: auto 0px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &>div.is-flex {
    gap: 1rem;
  }
}