.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px;
  gap: clamp(0.25rem, 1.5vw, 0.5rem);

  a {
    color: unset;
  }
}
.pagination-item,
.break-me {
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  .pagination-container {
    flex-wrap: wrap;
  }

  .pagination-item,
  .break-me {
    height: 2rem;
    width: 2rem;
    font-size: 0.8rem;
    border: none;
    a {
      padding: 0;
    }
  }
  .pagination-item.is-current {
    background-color: #00b6de;
    color: #fff;
    font-weight: 700;
  }
  .break-me button.button {
    color: #000;
    background-color: transparent;
  }
  .pagination-item:nth-child(5) {
    display: none;
  }
  .previous,
  .next {
    button {
      padding: 0.25rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .pagination-container {
    margin: 1rem 0 0;
  }
  .pagination-item,
  .break-me {
    border: 1px solid #ddd;

    width: 2.5rem;
    height: 2.5rem;
    a {
      padding: 0.5rem 1rem;
    }
  }
  .pagination-item:not(.break-me):hover {
    background-color: #ddd;
  }

  .pagination-item.is-current {
    background-color: hsl(340, 100%, 57%);
    color: #fff;
  }

  .pagination-item.break-me {
    background-color: hsl(340, 100%, 57%);
    color: #fff;
    border-radius: 5px;
  }

  .pagination-item.break-me:hover {
    background-color: hsl(340, 100%, 57%);
  }
}
