.grid-conversion_contact {
  display: grid;
  grid-template-columns: repeat(3, minmax(180px, 1fr));
  grid-template-areas: 'dni sex date_of_birth'
    'country province_state locality'
    'street street postal_code'
    'registration_number area_of_work training_interest';
  column-gap: 1rem;

  .block.field_info {
    grid-area: notification;
    align-self: center;
    margin: 10px auto;
  }

  .field {

    $inputs: 'sex',
    'date_of_birth',
    'country',
    'province_state',
    'postal_code',
    'street',
    'locality',
    'registration_number',
    'area_of_work',
    'training_interest';

    @each $input in $inputs {
      &[data-input-name='#{$input}'] {
        grid-area: #{$input};
      }
    }

    &[data-input-name='rut'],
    &[data-input-name='dni'],
    &[data-input-name='rfc'] {
      grid-area: dni;
    }

    .control {
      &.select {
        width: 100%;

        select {
          width: 100%;

          &.is-danger {
            border-color: red;
          }
        }

        &::after {
          z-index: 1;
        }
      }

      .allow-dropdown.intl-tel-input {
        width: 100%;
      }
    }
  }

  .grid-payment_method-item {
    height: unset;

    &.active {
      background-color: #eff1fa !important;
      border-color: #485fc7;
      color: #485fc7;
    }
  }
}

@media screen and (max-width: 766px) {
  .grid-conversion_contact {
    grid-template-areas: unset;
    grid-template-columns: 1fr;
    gap: 0.75rem;

    &>.field {
      &:nth-child(n) {
        grid-area: unset;
      }
    }
  }
}