.grid-conversion_contact {
  display: grid;
  grid-template-areas: 'dni sex date_of_birth' 'country province_state postal_code' 'street street locality' ' registration_number area_of_work training_interest';
  column-gap: 1rem;

  .block.field_info {
    grid-area: notification;
    align-self: center;
    margin: 10px auto;
  }

  .field {
    &:nth-child(1) {
      grid-area: dni;
    }
    &:nth-child(2) {
      grid-area: sex;
    }
    &:nth-child(3) {
      grid-area: date_of_birth;
    }
    &:nth-child(4) {
      grid-area: country;
    }
    &:nth-child(5) {
      grid-area: province_state;
    }
    &:nth-child(6) {
      grid-area: postal_code;
    }
    &:nth-child(7) {
      grid-area: street;
    }
    &:nth-child(8) {
      grid-area: locality;
    }
    &:nth-child(9) {
      grid-area: registration_number;
    }
    &:nth-child(10) {
      grid-area: area_of_work;
    }
    &:nth-child(11) {
      grid-area: training_interest;
    }

    .control {
      &.select {
        width: 100%;
        select {
          width: 100%;
          &.is-danger {
            border-color: red;
          }
        }
        &::after {
          z-index: 1;
        }
      }
      .allow-dropdown.intl-tel-input {
        width: 100%;
      }
    }
  }
  .grid-payment_method-item {
    height: unset;

    &.active {
      background-color: #eff1fa !important;
      border-color: #485fc7;
      color: #485fc7;
    }
  }
}
